// Dummy data

// 1. users
[
    {
        "first_name": "abeer",
        "last_name": "habib",
        "email": "abeeranakhli@gmail.com",
        "password": "123456",
        "phone": "0679459852",
        "address": "Riyadh, SA"
    },
    {
        "first_name": "abrar",
        "last_name": "suliman",
        "email": "iiberu0@gmail.com",
        "password": "25d2@dd55",
        "phone": "0409402552",
        "address": "Almadinah, SA"
    },
    {
        "first_name": "Sahar",
        "last_name": "ali",
        "email": "abeernakhli@hotmail.com",
        "password": "s_123123",
        "phone": "0609982332",
        "address": "Jeddah, SA"
    }
]